a{
    text-decoration: none;
}
.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    background-image: linear-gradient(to right top, #e9b1d1, #ddb1d7, #cfb2db, #c0b2dd, #b2b3dd, #a9b8e1, #a0bde2, #99c2e2, #97cce5, #98d5e5, #9edde4, #a8e5e1);
}
.skills-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.personal-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.skills-section p{
    font-size: larger;
    padding: 5px 0px;
}

.skills {
    text-align: center; /* Right-align text */
    color: white; /* White text color */
  }
  
  .html {width: 90%; background-color: #04AA6D;} /* Green */
  .css {width: 80%; background-color: #2196F3;} /* Blue */
  .bootstrap{width: 95%; background-color: #FF9800;} /* Orange */
  .js {width: 70%; background-color: #6f700f;} /* Red */
  .react {width: 90%; background-color: #0c9ee2;} /* Dark Grey */
  .git{width: 90%; background-color: #000;} /* Black */
  .firebase{width: 95%; background-color: #f44336;} /* Red */
  .node{width: 75%; background-color: rgb(97, 62, 62);} /* Black */
  .mongo{width: 60%; background-color: #ffc107;} /* Dark Orange */
  .devtool{width: 60%; background-color: #619ba5;} /* Dark Orange */