a{
    text-decoration: none;
}
.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.personal-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.skills-section p{
    font-size: larger;
    padding: 5px 0px;
}

.skills {
    text-align: center; /* Right-align text */
    color: white; /* White text color */
  }
  
  .html {width: 90%; background-color: #04AA6D;} /* Green */
  .css {width: 80%; background-color: #2196F3;} /* Blue */
  .bootstrap{width: 95%; background-color: #FF9800;} /* Orange */
  .js {width: 70%; background-color: #6f700f;} /* Red */
  .react {width: 90%; background-color: #0c9ee2;} /* Dark Grey */
  .git{width: 90%; background-color: #000;} /* Black */
  .firebase{width: 95%; background-color: #f44336;} /* Red */
  .node{width: 75%; background-color: rgb(97, 62, 62);} /* Black */
  .mongo{width: 60%; background-color: #ffc107;} /* Dark Orange */