.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  background-color: rgba(0, 0, 0, 0.534);
}
.about-card,
.skills-card {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.about-text,
.skills-text {
  padding: 10px;
  font-size: 20px;
}
.skills-section {
  width: auto;
}
.skills-text {
  text-align: left;
}
.skills-text i {
  font-size: 40px;
  color: #c63ce285;
  margin: 15px 15px;
  cursor: pointer;
}
.fa-html5:hover {
  color: #e44b23;
}
.fa-css3:hover {
  color: #264de4;
}
.fa-bootstrap:hover {
  color: #563d7c;
}
.fa-js:hover {
  color: #f0db4f;
}
.fa-react:hover {
  color: #61dbfb;
}
.fa-node:hover {
  color: #4b8f29;
}
.fa-database:hover {
  color: #4b8f29;
}
.fa-git-alt:hover {
  color: #f05033;
}
.fa-terminal:hover {
  color: #264de4;
}

/* media query for small devices */

@media screen and (max-width: 320px) {
  .about-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-card {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-text {
    font-size: 20px;
  }
}
/* media query for medium devices */
@media screen and (min-width: 321px) and (max-width: 480px) {
  .about-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-card {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-text {
    font-size: 20px;
  }
}

/* Media query for big devices */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .about-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-card {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-text {
    font-size: 20px;
  }
}
