.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}
.portfolio-container img{
    width: 100%;
    height: auto;
}
.portfolio-card{
    padding: 40px;
    text-align: justify;
}

/* media query for small devices */

@media screen and (max-width: 320px){
    .portfolio-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

