.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}
.portfolio-container img{
    width: 100%;
    height: auto;
}
.portfolio-card{
    background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 40px;
    text-align: justify;
}

/* media query for small devices */

@media screen and (max-width: 320px){
    .portfolio-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Media query for medium devices */
@media screen and (min-width: 321px) and (max-width: 480px){
    .portfolio-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Media query for big devices */
@media screen and (min-width: 481px) and (max-width: 768px){
    .portfolio-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
    

