.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}
.portfolio-container img {
  width: 100%;
  height: auto;
}
.portfolio-card {
  background-color: rgba(0, 0, 0, 0.534);
  padding: 40px;
  text-align: justify;
  color: #fff;
}
.portfolio-icon i {
  font-size: 30px;
  color: #fff;
  margin: 10px;
}
/* media query for small devices */

@media screen and (max-width: 320px) {
  .portfolio-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Media query for medium devices */
@media screen and (min-width: 321px) and (max-width: 480px) {
  .portfolio-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Media query for big devices */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
