.contact-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.contact-details{
    background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.contact-details p{
    font-size: larger;
    color: white;
}
.call-number{
    font-size: 20px;
}
.contact-icon{
    color: white;
    font-size: 30px;
}
.contact-form{
    background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

}

/* Media query for small devices */

@media screen and (max-width: 320px) {
    .contact-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* media query for medium devices */
@media screen and (min-width: 321px) and (max-width: 480px) {
    .contact-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Media query for big devices */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .contact-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

    