.contact-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    background-image: linear-gradient(to right top, #e9b1d1, #ddb1d7, #cfb2db, #c0b2dd, #b2b3dd, #a9b8e1, #a0bde2, #99c2e2, #97cce5, #98d5e5, #9edde4, #a8e5e1);
}
.contact-details{
    background-color: white;
}
.contact-details p{
    font-size: larger;
    color: white;
}
.call-number{
    font-size: 20px;
}
.contact-icon{
    color: white;
    font-size: 40px;
}
.contact-form{
    background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

}

/* Media query for small devices */

@media screen and (max-width: 320px) {
    .contact-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* media query for medium devices */
@media screen and (min-width: 321px) and (max-width: 480px) {
    .contact-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Media query for big devices */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .contact-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

    